:root {
    --peach:#f7b6ad;
    --dusty-rose:#8a5862;
    --coral:#ff6b6b;
    --mint-green:#a8e6cf;
    --navy-blue:#34495e;
    --light-cream:#f9f5e7;
    --off-white:#f8f8f8;
    --dusty-rose-light:#b27c87;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:50vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
    
    padding: 20px;
    border-radius: 10px;
    background-color: var(--silver-grey);
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input {
    width: 250px;
    padding: 10px;
    
    margin: 10px 0;
    
    border: 1px solid var(--dusty-rose);
    border-radius: 5px;
    
    font-size: 16px;
}

p {
    font-size:24px;
    color:var(--navy-blue);
}

.login-btn {
    width: 250px;
    padding: 12px;
    margin-top:12px;

    background-color: var(--dusty-rose);
    color:white;
    
    font-size: 18px;
    font-weight: bold;
    
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    
    transition:background-color 0.3s, transform 0.2s;
}

    /* Change color on cursor placed on button*/
    .login-btn:hover {
        background-color: var(--dusty-rose-light);
    }

    /* Shrink Effect when button clicked */
    .login-btn:active {
        transform: scale(0.95);
    }

.logout-btn {
    background-color: var(--off-white);
    color:var(--dusty-rose-light);
    position:absolute;
    top: 2vwh;
    right: 40px;
    width: 200px;
}

    .logout-btn:hover {
        background-color: var(--dusty-rose-light);
        color:var(--off-white);
    }