<!-- DOCTYPE HTML TAG -->
<!DOCTYPE html>

<!-- HTML TAG -->
<html>
    <!-- HEAD TAG -->
<head>
    <!-- META TAG FOR DIFFERENT DEVICE RESOLUTIONS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE TAG -->
    <title>
        Student Portal
    </title>

    <!-- LINK TAGS -->
    <link rel="stylesheet" href="CSS/base.css">
    <link rel="stylesheet" href="CSS/form.css">
</head>

    <!-- BODY TAG -->
    <body>
        <!-- Banner DIV TAG -->
        <div class="top-banner">
            <h1 class="h1-style-1">
                Student Portal
            </h1>
        </div>

        <!-- LOGIN DIV -->
        <div id="login-form">
            <form action="submit">
                <p>LOG IN</p>
                
                <input type="text" id="Register_Number" placeholder="Register Number">
                <input type="password" id="Password" placeholder="Password">
                
                <button type="submit" class="login-btn">LOG IN</button>
            </form>
        </div>

    </body>
</html>