<!-- DOCTYPE TAG -->
<!DOCTYPE html>
<!-- HTML TAG -->
<html>
    <!-- HEAD TAG -->
    <head>
        <!-- TITLE TAG -->
        <title>
            Template Sigma
        </title>
        <!-- LINK TAG -->
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="slider.css">
    </head>

    <!-- BODY TAG -->
    <body>
        <h1 id="main-heading">
            KUC IT DEPT PORTAL<br/>(MANGATHUPARAMBA)
        </h1>

        <!-- Wrapper DIV TAG -->
        <div class="content-wrapper">

            <!-- Slider DIV TAG -->
            <div class="slider">
                <!-- Slides DIV TAG-->
                <div class="slides">
                    <img class="pic" src="img-2.jpg" alt="img not found!">
                    <img class="pic" src="img-1.jpg" alt="img not found!">
                </div>
            </div>

            <!-- Text Content DIV TAG -->
            <div class="text-content">
                <h2>IT Department</h2>
                <p>
                    The IT department at KUC is committed to providing the best education and resources
                    for students in the field of Information Technology. Our curriculum is designed to
                    meet industry standards, ensuring that students are well-prepared for the future.
                </p>
            </div>

        </div>


    </body>
</html>