/* Add more custom colors; start variable name with -- */
:root {
   --peach:#f7b6ad;
}

/*
    * {} for all elements in the webpage
    like a default settings for all elements of a webpage
*/

* {
    /* Remove extra white space */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#main-heading {
    background-color: --peach;
    /* Increase the thickness of background color */
    padding: 30px;
}


/* 
#heading
{
    background-color: yellow;
}

.heading1
{
    background-color: green;
}

*/
